// Fonts
@import "node_modules/font-awesome/scss/font-awesome.scss";
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Mine
.action_type{display:none;}

//Tree
#tree {
    min-width: 300px;
    margin: 1em auto;
}

#tree h4 {
    text-transform: none;
    font-size: 14px;
    font-weight: normal;
}
#tree p {
    font-size: 12px;
    line-height: 16px;
    max-height: 31px;
}